<div>
    <div><b>Launchpad :</b>{{failedLaunchs.launchpad}}</div>

    <div *ngIf="(failedLaunchs.all_failures).length == 0">
        No data
    </div>

    <div *ngIf="(failedLaunchs.all_failures).length > 0" >
        <table mat-table [dataSource]="failedLaunchs.all_failures" class="mat-elevation-z8">
            <!-- Index Column -->
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> S.No </th>
                <td mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </td>
                </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <!-- failure reason Column -->
            <ng-container matColumnDef="failures">
                <th mat-header-cell *matHeaderCellDef> Failures </th>
                <td mat-cell *matCellDef="let element"> {{element.failures}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>